@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eox", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  background: #000;
}
nav .logo {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 70px;
  & a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
  }
}
nav .icon {
  display: flex;
  align-items: center;
  gap: 20px;
  & img {
    width: 15px;
  }
}
.hero-container {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 100px;
  background-image: url("images/hero-bg-top.png"),
    url("images/hero-bg-bottom.png"), linear-gradient(#000, #000, #000);
  background-position: top left, bottom right;
  background-size: contain, contain;
  background-repeat: no-repeat;
  padding: 290px 250px;
  padding-bottom: 0;
  & .img img {
    width: 688px;
    height: 508px;
  }
}
.hero-container h3 {
  font-size: 18px;
  line-height: 20px;
  font-family: "Exo", sans-serif;
}
.hero-container hr {
  border: 1px solid;
  border-image: linear-gradient(to right, #ff0000, #42ff00, #2400ff);
  border-image-slice: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 250px;
}
.hero-container h1 {
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 20px;
}
.hero-container .h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-container a {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 10px 30px;
  background: #6f00a9;
}
.about {
  background: #000;
  padding: 100px 50px;
  color: #fff;
  & h1 {
    text-align: center;
    font-size: 60px;
  }
  & hr {
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #42ff00, #2400ff);
    border-image-slice: 1;
    margin: 20px 750px;
    text-align: center;
  }
  & p {
    margin: 20px 290px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  & .cards {
    padding: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .card {
      display: flex;
      gap: 120px;
      align-items: center;
      font-family: "Orbitron", sans-serif;
      & img {
        width: 10px;
        height: 10px;
      }
    }
  }
}
.edits {
  background: #000;
  color: #fff;
  padding: 100px 0;
  & h1 {
    font-size: 60px;
    font-family: "Exo", sans-serif;
    line-height: 70px;
    margin-left: 100px;
  }
  & hr {
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #42ff00, #2400ff);
    border-image-slice: 1;
    width: 571px;
    margin-top: 50px;
    margin-left: 100px;
  }
  & .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 200px;
    & .card {
      text-align: center;
      & h3 {
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold;
      }
      & img {
        width: 360px;
      }
    }
  }
}
.testimonials {
  text-align: center;
  padding: 100px 0;
  background: #000;
  color: #fff;
  & h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Exo", sans-serif;
  }
  & hr {
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #42ff00, #2400ff);
    border-image-slice: 1;
    margin: 0 600px;
    margin-top: 50px;
  }
  & .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 350px;
    gap: 100px;
    margin-top: 80px;
    font-family: "Eox", sans-serif;
    & .card {
      background: #6f00a9;
      padding: 50px 30px;
      & h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      & p {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
}
footer .inpu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  & .input {
    display: flex;
    align-items: center;
    gap: 90px;
    & .in {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
footer {
  padding: 100px 50px;
  background: #000;
  color: #fff;
  & input{
    background: none;
    border: none;
    padding: 20px;
    font-family: "Exo", sans-serif;
  }
  & a{
    font-family: "Orbitron", sans-serif;
    padding: 10px 20px;
    background: #6f00a9;
    color: #fff;
    text-decoration: none;
  }
  & h1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Exo", sans-serif;
    line-height: 70px;
  }
  & hr {
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #42ff00, #2400ff);
    border-image-slice: 1;
    width: 957px;
    margin-top: 50px;
  }
  & .exo{
    font-family: "Exo", sans-serif;
  }
}
footer .text {
  display: flex;
  align-items: center;
  gap: 50px;
  & h3{
    font-family: "Exo", sans-serif;
  }
  & .in {
    display: flex;
    align-items: center;
    gap: 20px;
    & img {
      width: 16.61px;
    }
  }
}
footer .main {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  & .h2 {
    transform: rotate(89deg);
  }
}
